p{
    color: purple;
    background-color: black;
}

.wow{
    background-color: purple;
    font-weight: bold;
}

.my-comp-paragraph{
    color: black;
    background-color: purple;
    font-weight: bold;
}